{
  "extends": "airbnb",
  "globals": {
    "$": true,
    "window": true,
    "document": true
  },
  "settings": {
    "import/resolver": "webpack"
  },
  "rules": {
    "no-multi-spaces": 0,
    "object-curly-newline": 0,
    "arrow-parens": 0,
    "comma-dangle": 0,
    "function-paren-newline": 0,
    "no-underscore-dangle": 0
  }
}
